<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar usuário</title>
</head>
<body>
    <h4>{{titulo}}</h4>
    <form action="cad_user" method="post">
        <label for="username">Username:</label>
        <input type="text" name="user" id="user">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>